<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>HOME</title>
</head>
<body>
    <div style="padding: 15px">
        <center>
            <h1 style="color:purple">I FILM</h1>
        </center>
        <a class="btn btn-primary" th:href="@{/films}">Catalogo Film</a>
        <br><br>
        <a class="btn btn-secondary" th:href="@{/films/nuovo}">New Film</a>
    </div>
</body>
</html>